.bigcontainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.right{
    width: 50%;
}
.name{
    font-family: "Merriweather", serif;
    font-size: 4rem;
}
.tag{
    font-size: 1.4rem;
    font-weight: 300;
}
.heroimg{
    height: 100vh;
    object-fit: cover;
}
@media screen and (max-width: 1100px){
    .left{
        position: absolute;
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        color: white;
    }
    .right{
        width: 100vw;
        position: relative;
    }
    .dark{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
}
@media screen and (max-width: 600px){
    .name{
        font-size: 2.5rem;
    }
    .bigcontainer{
        margin-top: 100px;
        height: 50vh;
    }
    .tagcont{
        padding-left: 0;
    }
}