.container{
    margin-top: 150px;
    padding: 0 10% 50px;
}
.flex{
    display: flex;
    gap:30px 5%;
    flex-wrap: wrap;
    width: 115%;
}
.heading{
    font-family: "Merriweather", serif;
    font-size: 3.5rem;
    margin-bottom: 50px;
    text-align: center;
  }
  .card{
    width: 16vw;
    height: 260px;
    object-fit: cover;
    position: relative;
}
.heroimg{
    width: 16vw;
    height: 260px;
    object-fit: cover;
}
.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 16vw;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: 0.3s;
}
.card:hover .info{
    opacity: 1;
}
.name{
    font-size: 2rem;
}
.btn{
    color: white;
    background: none;
    border: 1px solid white;
    padding: 10px;
}
@media screen and (max-width: 1100px){
    .bigcontainer{
        padding: 0 5%;
        text-align: center;
    }
    .card,.heroimg{
        width: 42.5vw;
    }
    .info{
        width: 100%;
    }
.flex{
    flex-wrap: wrap;
    justify-content: center;
}
.info{
    opacity: 1;
}
}
@media screen and (max-width: 768px){   
    .container{
        padding: 0 5% 40px;
    } 
    .flex{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
    .card,.heroimg{
        width: 100%;
        height: 260px;
    }
    .info{
        height: 100%;
    }

}